<div class="eqLogic-widget eqLogic" style="background-color: #background_color#; #style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
    <center>#name#</center>
	<center>
    <span class="derniervers #derniervers_history#" data-cmd_id="#derniervers_id#"><span title="Date dernier dépot (#datedepot#)" style="font-size : 1em;"><i class="fa fa-money"></i>  #derniervers# €</span>
    <span class="objectif #objectif_history#" data-cmd_id="#objectif_id#"><span title="Objectif (#objectif_collect#)" style="font-size : 1em;"><i class="fa fa-flag-checkered"></i>  #objectif# €</span>
    <span class="nez #nez_history#" data-cmd_id="#nez_id#" title="Couleur du nez (#nez_collect#)" style="font-size : 1em;"><i class="fa fa-paint-brush"></i>   <i class="fa fa-circle fa-lg" style="color : ##nez#;"></i></span></br>
	<span class="somme #somme_history#" data-cmd_id="#somme_id#" title="Somme en cours (#somme_collect#)" style="font-size : 1.5em;"><i class="fa fa-diamond"></i> #somme# €</span>
	</center>
</div>

